#pagination{
  position: absolute;
  right:0;
  top:0;
  z-index:10;
}

.total-row{
  background-color: #F0F0F0;
  font-weight:bold;
}

tr:nth-child(odd){
  background-color: #D0D0D0;
}

@media print{
  .menu, #pagination{
    display:none;
  }
  td{
    font-size:1rem;
  }
  .jumbotron{
    right: 10%;
  }
  tr{
    border-bottom: 1px solid #0f0f0f;
  }
}
